   #chessboard{
       width: 400px;
       height: 400px;
       border:solid red 1px;
       border-collapse: collapse;
   }

table {
    width: 400px;
    height: 400px;
    border: solid black 2px;
    border-collapse: collapse;
}
   .blackbox {
       width: 50px;
       height: 50px;
       background-color: black;
       border-radius: 50%;


   }
.whitebox {
    width: 50px;
    height: 50px;
    background-color: rebeccapurple;
    border-radius: 50%;


}
     .divChessboard {
         float:left;
     }
